{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "singleAttributePerLine": false,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore"
}
