@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

:where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

html {
  font-family: var(--font-serif);
}

@theme {
  --font-serif: "Noto Serif KR", sans-serif;
}
